
body{

    background-image: url(black\ wall.jpg);
background-size: cover;
       background-attachment: fixed;
}



.test {

    border: solid 5px red;
    width: 400px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;

text-align: center;
margin-left: 400px;
box-shadow: 5px 5px  purple;


}

.test1 {
    color: crimson;
    font-size: 25px;
    text-align: center;
    font-style: oblique;
text-shadow: 2px 2px 2px aqua;


}



.corner {

    border: solid 5px green;
    box-shadow: 5px 5px  purple;



}



.corner1 {
    border: red 5px solid;
    color: black;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    height: 125px;
    box-shadow: 5px 5px  purple;
    text-shadow: 2px 2px 2px yellow;

}




.right {
    border: solid red 5px;
    width: 200px;

    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    left: 1000px;
    bottom: 170px;
    box-shadow: 5px 5px  purple;
    

}


.last {
    border: solid red 5px;
    width: 200px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    bottom: 180px;
    left: 1000px;
    padding: 5px;
    box-shadow: 5px 5px  purple;
    text-shadow: 2px 2px 2px yellow;

}


.pre {
    color: brown;
    background-color: yellowgreen;
    border: solid red 5px;
    width: fit-content;
    font-size: larger;
    font-style: oblique;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    position: fixed;
    bottom: 10px;
    left: 500px;
    box-shadow: 5px 5px  purple;

}


.green {
    border: solid 5px purple;
    text-align: center;
    background-color: green;
    max-height: 380px;
    width: fit-content;
    margin-left: 300px;
}
 
.div1 {
    margin-left: 25px;
    background-color: yellow;
    width: 45%;
    height: 200px;
}

.div2 {
    background-color: yellow;
 
   
    bottom: 219px;
    left: 380px;
    width: 45%;
   height: 200px;
}

.div3 {
    background-color: yellow;
    height: 35%;
   
    bottom: 219px;
    
}
.fru{
 float: left;
 
 
}
.veg{

    float: right;
}
.oth{
float: clear both;

}







